<%= form_with(model: @user, url: sessions_path, local: true) do |f| %>
    <div>
        <%= f.text_field :email, placeholder: 'Ingresa tu email' %>
    </div>
    <div>
        <%= f.password_field :password, placeholder: 'Ingresa tu contraseña' %>
    </div>
    <%= f.submit "Iniciar Sesion" %>
<% end %>